/* 初始化代码 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #3a474f;
    text-decoration: none;
    font-size:14px;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
}



table {
    border-collapse: collapse;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

img { 
    max-width: 100%;
    /* margin: 0; */
	height: auto;
}
.treatment {
    width:50px;
    height:18px;
    background:#e5e7eb;
    border-radius:5px;
}
body,
html {
    height: 100%;
    position: relative;
        background-color: #F3F5F8;
        font-family: Helvetica, Verdana, "微软雅黑", "Source Sans Pro", sans-serif;
        font-size: 14px;
        color: #676a6d;
        overflow-x: hidden;
}

.sardonyx {
     width:30px;
     height:5px;
     background:linear-gradient(90deg,#e73562 0%,#f09082 100%);
}

.btn-bottom {
color: #f1f1f1;
text-decoration: none;
width:150px;
height:40px;
border:1px solid #ffffff;
border-radius:5px;
text-align: center;
line-height: 40px;
}

/* head */
.container .head {
  width: 100%;
  height: 10%;
  position: absolute;
  /* background-color: skyblue; */
  top: 2%;
  left: 0;
  z-index:5;
}

.container .icon {
   /* padding-top: 45px; */
   /* line-height: 10%; */
   margin-left: 45px;
}
.container .nav-pills li {
    color: #f1f1f1f1;
    display: block;
     float: right;
    margin-left: 20px;
    padding-left: 20px;
   line-height: 10%;  
}
.head .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #e73562;
}

/* nain .swiper */
.container .main .swiper-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

}
 .swiper-slide .swiper-wr1 {
   position: absolute;
   /* left: 264px;
   top: 325px; */
   left: 28%;
   bottom: 33%;
}
.swiper-slide .swiper-wr2 {
    position: absolute;
    right: 10%;
    bottom: 35%;
 }
 .swiper-slide .swiper-wr3 {
    position: absolute;
    left: 15.3%;
    bottom: 33%;
 }
 .swiper-slide .swiper-wr4 {
    position: absolute;
    right: 10%;
    bottom: 35%;
 }







.container .main .swiper-pagination {
    /* position: absolute; */
    bottom: 45px;
    left: 860px;
}
.container .main .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.5;
}
.container .main .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
}
.container .main .swiper-pagination-bullet-active {
    opacity: 1;
    background: #f1f1f1;
}




/* At the bottom of the public */
/* At the bottom of the public */
/* At the bottom of the public */



/* footer */
.container .footer {
    width: 100%;
    height: 36px;
    background-color: #1b1b1b;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:1;
}
.container .footer .title {
    color: #f1f1f1f1;
    position: relative;
    text-align: center;
    font-size: 10px;
    line-height: 36px;
    left: 25px;
}
.container .footer .wechsina {
    position: relative;
    float: right;
    /* margin-left: 10px; */
    right: 45px;
    line-height: 36px;
}
.container .footer span {
    padding-left: 30px;
}

/* bottombar */

.container .bottombar {
    width: 100%;
    height: 20%;
    
    position: absolute;
    background-color: #1b1b1b;
    left: 0;
    top: 2460px;
  
    
}
.bottombar .footerBox {
    position: relative;
    color: #f1f1f1;
    /* float: left; */
}
.bottombar .footerBox .logopng {
    position: absolute;
    left: 50%;
    top: 40px;  
}
.bottombar .footerBox .title {
    position: absolute;
    left: 43%;
    top: 160px;  
}
.bottombar .footerBox .foot_tact {
    position: absolute;
    left: 15%;
    top: 25px;
}
.bottombar .footerBox .foot_ewm {
    position: absolute;
    right: 15%;
    top: 36px;
}
.bottombar .footerBox .foot_ewm span {
    margin-left: 30px;
    padding-top:20px;
}

/* content */
/* content */
/* content */

/* regard */

.container .main {
    width: 100%;
    height: 100%;
}

.container .main .banner {
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    left: 0;
}

 .main .banner .about_company {
    position: relative;
    /* width: 1000px;
    height: 500px;
    background-color: red; */
    left: 20%;
    bottom: 300px;
}
.banner .about_company .about_le {
    width:405px;
    height:435px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(255,255,255,1);
    border-radius:5px;
    position: absolute;
    left: 10%;
    top: 0;
    box-shadow:1px 2px 5px #b3b8be;
    z-index: 3;
}
.about_company .about_le h2 {
    position: relative;
    left: 11.5%;
    font-weight: 700;
}
.about_company .about_le p {
    position: relative;
    left: 11.5%;
    font-weight: 400;
    margin-top: 10px;
   
}
.about_company .about_le .appearance {
    position: relative;
    left: 11.5%;
    display: block;
    margin-top: 10%;
}
.about_company .about_le .redbar_l {
    position: relative;
    left: 11.5%;
    margin-top: 8%;
}

.banner .about_company .about_ri {
    position: absolute;
    right: 5%;
    width:500px;
    height:500px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(255,255,255,1);
    border-radius:5px;
    left: 30%;
    top: 11%;
    box-shadow:1px 2px 5px #b3b8be;
    z-index: 2;
}

.about_company .about_ri .redbar_r {
    position: relative;
    left: 11.5%;
    top: 12%;
  

}
.about_company .about_ri .title_w {
    position: absolute;
    left: 11.5%;
    top: 12%;
    margin-top: 5%;
    margin-left: 2%;
        /* vertical-align: middle; */
}

/* 关于屏幕自适应 */
/* @media (min-width: 1100px) {
    body{font-size: 20px}
    } 
    @media (min-width: 1280px) {
    body{font-size: 22px;}
    }  */

    /* @media (min-width: 1280px) {
        .main .banner .about_company {
            position: relative;
            left: 20%;
            bottom: 280px;
        }
        .banner .about_company .about_le {
            width:200px;
            height:255px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            position: absolute;
            left: 10%;
            top: 0;
            box-shadow:1px 2px 5px #b3b8be;
            z-index: 1;
        }
        .about_company .about_le .appearance {
            position: relative;
            left: 11.5%;
            display: block;
            margin-top: 10%;
            width: 155px;
            height: 117px;
        }
        .banner .about_company .about_ri {
            position: absolute;
            right: 5%;
            width:300px;
            height:520px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            left: 25%;
            top: 11%;
            box-shadow:1px 2px 5px #b3b8be;
        }
   
    }  
    
     @media (min-width: 1440px) {
        .main .banner .about_company {
            position: relative;
            left: 20%;
            bottom: 300px;
        }
        .banner .about_company .about_le {
            width:230px;
            height:270px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            position: absolute;
            left: 9%;
            top: 0;
            box-shadow:1px 2px 5px #b3b8be;
            z-index: 1;
        }
        .about_company .about_le .appearance {
            position: relative;
            left: 11.5%;
            display: block;
            margin-top: 10%;
            width: 155px;
            height: 117px;
        }
        .banner .about_company .about_ri {
            position: absolute;
            right: 5%;
            width:330px;
            height:500px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            left: 25%;
            top: 11%;
            box-shadow:1px 2px 5px #b3b8be;
        }
    } 
    
    @media (min-width: 1680px) {
        .main .banner .about_company {
            position: relative;
            left: 20%;
            bottom: 370px;
        }
        .banner .about_company .about_le {
            width:270px;
            height:270px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            position: absolute;
            left: 10%;
            top: 0;
            box-shadow:1px 2px 5px #b3b8be;
            z-index: 1;
        }
        .about_company .about_le .appearance {
            position: relative;
            left: 11.5%;
            display: block;
            margin-top: 10%;
            width: 155px;
            height: 117px;
        }
        .banner .about_company .about_ri {
            position: absolute;
            right: 5%;
            width:380px;
            height:500px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            left: 25%;
            top: 11%;
            box-shadow:1px 2px 5px #b3b8be;
        }
    } 
    
    @media (min-width: 1920px) {
        .main .banner .about_company {
            position: relative;
            left: 20%;
            bottom: 370px;
        }
        .banner .about_company .about_le {
            width:305px;
            height:320px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            position: absolute;
            left: 10%;
            top: 0;
            box-shadow:1px 2px 5px #b3b8be;
            z-index: 1;
        }
        .about_company .about_le .appearance {
            position: relative;
            left: 11.5%;
            display: block;
            margin-top: 10%;
            width: 155px;
            height: 117px;
        }
        .banner .about_company .about_ri {
            position: absolute;
            right: 5%;
            width:400px;
            height:500px;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius:5px;
            left: 25%;
            top: 11%;
            box-shadow:1px 2px 5px #b3b8be;
        }
    }  */

 .container .main .particulars_wg {
        width: 100%;
        /* height: 100%; */
        position: absolute;
    }




    /* particulars_wg */

.container .main .particulars_wg {
    position: absolute;
    width: 100%;
    height: 860px;
    top: 1070px;
    left: 0;
    /* background-color: skyblue; */
}
.main .particulars_wg .wahy_w {
        position: relative;
        top: 150px;
        left: 720px;
}
.main .particulars_wg .lars_wg {
    position: relative;
    width:110px;
    height:50px;
    border:1px solid rgba(231,53,98,1);
    top: 250px;
    left: 800px;
    display: table-cell;vertical-align: middle;

}

.main .particulars_wg .manage {
    position: relative;
     top: 270px;
     left: 800px;
     font-weight: 700;
}

.particulars_wg .case_cont ul{
    margin: 5px  10px;
    width: 800px;
}
.particulars_wg .case_cont .mask{
    position: relative;
    width:180px;
    float: left;
    height:220px;
    background:#F3F5F8;
    border:0px solid black;
    left: 520px;
    top: 220px;
   margin: 40px 20px;
   font-size: 8px;
   text-align: left;
}
.particulars_wg .case_cont .mask img {
    width: 50px;
    height: 38px;
}


.container .main .honor_box {
    position: absolute;
    width: 100%;
    height: 260px;
    top: 2200px;
    left: 0;
}
.main .honor_box .honor {
    position: absolute;
    top: 0;
    left: 45%;
    /* z-index: 3; */
    font-weight: 700;
    color: #f1f1f1;
}

/* join us */


.container .main .join_us {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
}

/*加入我们*/
.container .main .recruitment_job{
    position: absolute;
    width: 100%;
    height: 905px;
    left: 0;
    top: 800px;
}
.main .recruitment_job .join_box {
    position: relative;
    width:1100px;
    height:1200px;
    box-shadow:0px 3px 3px 0px #e7ecf1;
    /* background-color: skyblue; */
    border-radius:10px;
    bottom: 5%;
    margin: 0 auto;
    z-index: 0;

}
.join_title{
   position: absolute;
    top:8%;
    left: 45%;

}
.join_title h2{
    color: #434343;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.join_title p{
    font-size: 15px;
    color: #9F9F9F;
    text-align: center;
}

.imgnav {
    position: absolute;
    margin: 200px auto 0;
    width: 100%;
}

#cbtn {
    position: relative;
    width: 960px;
    height: 143px;
    margin: 0 auto;
}

#cbtn ul {
    position: relative;
    width: 10000px;
    height: 143px;
}

#cbtn ul li {
    float: left;
    width: 152px;
    height: 143px;
    cursor: pointer;
    text-align: center;
    margin-right: 3px;
    position: relative;
}

#cbtn ul li img {
    width: 100%;
    height: 100%;
    display: block;
    /* opacity: 0.1; */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#cbtn ul li strong {
    width: 100%;
    height: 100%;
    background-color: rgba(225, 126, 31, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#cbtn ul li p {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 143px;
    font-weight: bold;
    opacity: 1;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    display: block;
    text-align: center;
}

/* #cbtn ul li.hov img {
    opacity: 1;
}

#cbtn ul li.hov p {
    color: #fff;
}

#cbtn ul li.hov strong {
    display: block;
    z-index: 10;
} */

.ctrl div {
    clear: both;
}

#cSlideUl {
    width: 930px;
    height: 143px;
    overflow: hidden;
    position: relative;
    top: 10px;
    margin: 0 auto;
}

.picSildeLeft {
    cursor: pointer;
    position: absolute;
    top: 55px;
    left: -20px;
    z-index: 9;
}

.picSildeRight {
    cursor: pointer;
    position: absolute;
    top: 55px;
    right: -20px;
    z-index: 9;
}

.job_detail {
    width: 100%;
    height: 900px;
    margin-top: 40px;
    overflow: hidden;
}

#jobInfo {
    z-index: 10;
    width: 960px;
    height: 900px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#jobInfo ul .trea {
    position: relative;
    /* top: 100px; */
    float: left;
    margin-right: 30px;
    /* margin: 0 auto; */
}
#jobInfo ul li {
    display: none;
    width: 550px;
    margin-top: 50px;
}

#jobInfo ul li p strong {
    font-size: 15px;
    color: #3a474f;
    font-weight: bold;
    margin-bottom: 10px;
}

#jobInfo ul li article {
    margin-bottom: 35px;
}

#jobInfo ul li p {
    font-size: 15px;
    color: #434343;
    line-height: 30px;
}